<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
  <% if logged_in? %>
    <h3><%= current_user.username %>, Welcome to our Site!</h3>
    <a href="<%= cats_url%>">All Cats</a>
    <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Log Out">
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url%>">Sign Up</a>
  <% end %>
  
  </header>

  <body>
    <% if flash[:errors]%>
      <% flash[:errors].each do |error|%>
        <p style="color: red"><%= error %></p>
      <% end %>
    <% end %>    
    <%= yield %>
  </body>
</html>
